<div class="container">
<div class="bigbanner vbdus-background">

	<img src="{{ url('theme://images/logo120.png') }}" alt="Verein Beeidigter Dolmetscher und Übersetzer Sachsen">
	<div id="hotline-aufkleber">
		<h3 class="h4" style="text-align: right; color: #4e4e4e;">{{ 'BANNER.HOTLINE'|t }}: <span style="font-size: 130%; color: #000;"><a href="tel:{{ 'BANNER.NUMMER_URL'|t }}">{{ 'BANNER.NUMMER'|t }}</a></span></h4>
		<p style="text-align: right; color: #4e4e4e; font-size: 90%">{{ 'BANNER.TEXT'|t }}</p>
	</div>

    <h1 id="bigbanner-titel">VEREIN BEEIDIGTER DOLMETSCHER UND ÜBERSETZER SACHSEN e.V.</h1>
    <a class="btn btn-primary" href="/kontakt" role="button">{{ 'BANNER.BUTTON_KONTAKT'|t }}</a>
    <a class="btn btn-custom" href="/hotline" role="button">{{ 'BANNER.BUTTON_HOTLINE'|t }}</a>

    </div>
</div>
