<div class="container well well-sm">
    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}


    <div class="page-header">
        <span class="h4">
            <span class="label label-info">{{ page.date|date("d.m.Y") }}</span>
        </span>

        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>

        {% if header_image %}
            {% if header_image_file %}
                {% set header_image_media = page.media.images[header_image_file] %}
            {% else %}
                {% set header_image_media = page.media.images|first %}
            {% endif %}
            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
        {% endif %}

    </div>

    {% if page.header.continue_link is sameas(false) %}
        <p>{{ page.content }}</p>
        {% if not truncate %}
        {% endif %}
    {% elseif truncate and page.summary != page.content %}
        <p>{{ page.summary }}</p>
        <p><a href="{{ page.url }}"><button type="button" class="btn btn-primary">Weiterlesen...</button></a></p>
    {% elseif truncate %}
        {% if page.summary != page.content %}
            <p>{{ page.content|truncate(550) }}</p>
        {% else %}
            <p>{{ page.content }}</p>
        {% endif %}
        <p><a href="{{ page.url }}"><button type="button" class="btn btn-primary">Weiterlesen...</a></button></p>
    {% else %}
        <p>{{ page.content }}</p>
        {% set show_prev_next = true %}
    {% endif %}

</div>