<div class="container">
	<div class="row vbdus-background" id="kopf">
		<div class="hidden-xs col-sm-3 col-md-2" style="min-height: 14rem;">
		<div class="smallbanner-inner"><img src="{{ url('theme://images/logo120.png') }}"></div>
		</div>
		<div class="col-xs-8 col-sm-9 col-md-7">
		<h1 style="text-align: left; color: #4e4e4e; font-size: 200%">{{ 'SYSTEM.VEREIN_OHNE'|t|upper }} {{ 'SYSTEM.VEREIN_SA'|t|upper }} {{ 'SYSTEM.VEREIN_EV'|t }}</h1>
		</div>
		<div class="col-xs-4 col-sm-3 col-md-3">
		<h4 style="text-align: right; color: #4e4e4e;">{{ 'BANNER.KLEIN'|t }}:<br /><span style="font-size: 140%; color: #000;"><a href="tel:{{ 'BANNER.NUMMER_URL'|t }}">{{ 'BANNER.NUMMER'|t }}</a></span></h4>
		</div>
	</div>
</div>